.tips {

    width: 300px;
    height: 300px;
    background-color: rgba(100, 100, 100, .8);
    border: 1px solid;
    margin: 15px;

}

.tips:hover {

    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);

}

.tips img {

    width: 300px;
    height: 170px;

}

.tips h2 {

    padding: 5px;
    font-family: 'Karla', sans-serif;
    color: wheat;

}

.tips p {

    font-family: 'Karla', sans-serif;
    padding: 5px;
    color: wheat;

}

.tips-closed {

    padding: 50px;
    height: auto;
    width: 100%;
    background-color: lightskyblue;
    display: none;
    position: fixed;
    margin-top: -300px;
    align-items: center;
    flex-direction: column;

}

.tips-closed span {

    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;

}

.tips-closed h2 {

    font-family: 'Karla', sans-serif;
    text-decoration: underline;
    font-size: 2em;

}

.tips-closed h5 {

    padding: 5px;
    width: 50%;
    border-bottom: 1px solid;
    text-align: center;

}

.tips-closed p {

    width: 1000px;
    padding-top: 25px;
    font-family: 'Karla', sans-serif;
    text-align: center;
    overflow: inherit;

}

.kryss {

    width: 100%;
    
    margin-left: 60px;
    margin-top: 10px;
    position: absolute;

}

@media only screen and (max-width: 1000px) {

    .tips-closed {

        height: 500px;

    }

    .tips-closed p {
        width: 90%;
        overflow: scroll;
    }

}

@media only screen and (max-width: 900px) {

    .tips-closed {

        margin-top: -280px;

    }

    .tips-closed span {

        margin: 0;

    }

    .main-content {

        width: 100%;

    }

    .tips-closed h5 {

        width: 75%;

    }

}

.main-content{
             
            height: auto;
            
        }
        
        .tips:hover {
            
            cursor: default;
            
        }

        .text {
            
            width: 100%;
            height: 150px;
            padding-bottom: 50px;
            padding-top: 50px;
            display: flex;
            align-items: center;
            flex-direction: column;
            border-bottom: 2px solid;
            
        }

        .text h3 {
            
            background-color: rgb(255, 255, 255,.5);
            text-align: center;
            color: white;
            padding: 25px;
            border-radius: 10px;
            
        }
        
        .all-tips{
            
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            
        }
        
        form{
            
            margin-top: 80px;
            display: flex;
            flex-direction: row;
            
        }
        
        input[type=text]{
            
            width: 130px;
            box-sizing: border-box;
            border: 1px solid;
            border-radius: 2px;
            font-size: 16px;
            background-color: white;
            background-image: url('imgs/serachicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            transition: width .4s ease-in-out;
            
        }
        
        input[type=text]:focus{
            width: 300px;
        }
        
        input[type=submit]{
            
            border: none;
            background-color: #4CAF50;
            color: white;
            font-weight: 700;
            text-decoration: none;
            width: 65px;
            margin-left: 15px;
            cursor: pointer;
            
        }
        
        input[type=submit]:hover{
            
            background-color: lightgreen;
            
        }
        
        @media only screen and (max-width: 1000px) {
            
            .tips-closed{
                
                height: 500px;
                
            }
            
            .tips-closed p{
                width: 90%;
                overflow: scroll;
            }
            
        }
        
        @media only screen and (max-width: 900px) {
            
            .tips-closed{
                
                margin-top: -280px;
                
            }
            
            .tips-closed span{
                
                margin: 0;
                
            }
            
            .main-content{
                
                width: 100%;
                
            }
            
            .tips-closed h5{
                
                width: 75%;
                
            }
            
        }
        
        @media only screen and (max-width: 550px) {
            
            .tips-closed{
                height: auto;
            }
            
            .tips-closed h2{
                
                font-size: 1.5em;
                
            }
            
            .tips-closed p{
                
                height: 150px;
                
            }
            
        }
        
        @media only screen and (max-width: 500px) {
            
            
            
        input[type=text]:focus{
            width: 130px;
        }
            
        }

@media only screen and (max-width: 550px) {

    .tips-closed {
        height: auto;
    }

    .tips-closed h2 {

        font-size: 1.5em;

    }

    .tips-closed p {

        height: 150px;

    }

}
